@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 175 100% 11%;
    --foreground: 168 100% 97%;

    --card: 173 84% 19%;
    --card-foreground: 168 100% 97%;

    --popover: 173 84% 19%;
    --popover-foreground: 168 100% 97%;

    --primary: 168 100% 42%;
    --primary-foreground: 175 100% 11%;

    --secondary: 173 95% 21%;
    --secondary-foreground: 168 100% 97%;

    --muted: 173 84% 19%;
    --muted-foreground: 168 30% 70%;

    --accent: 168 89% 53%;
    --accent-foreground: 175 100% 11%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 168 100% 97%;

    --border: 173 84% 19%;
    --input: 173 84% 19%;
    --ring: 168 89% 53%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 175 100% 11%;

    --sidebar-primary: 175 100% 11%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 168 100% 95%;

    --sidebar-accent-foreground: 175 100% 11%;

    --sidebar-border: 168 30% 85%;

    --sidebar-ring: 168 89% 53%;
  }

  .dark {
    --background: 175 100% 11%;
    --foreground: 168 100% 97%;

    --card: 173 84% 19%;
    --card-foreground: 168 100% 97%;

    --popover: 173 84% 19%;
    --popover-foreground: 168 100% 97%;

    --primary: 168 100% 42%;
    --primary-foreground: 175 100% 11%;

    --secondary: 173 95% 21%;
    --secondary-foreground: 168 100% 97%;

    --muted: 173 84% 19%;
    --muted-foreground: 168 30% 70%;

    --accent: 168 89% 53%;
    --accent-foreground: 175 100% 11%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 168 100% 97%;

    --border: 173 84% 19%;
    --input: 173 84% 19%;
    --ring: 168 89% 53%;
    --sidebar-background: 175 100% 11%;
    --sidebar-foreground: 168 100% 95%;
    --sidebar-primary: 168 100% 42%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 173 84% 19%;
    --sidebar-accent-foreground: 168 100% 95%;
    --sidebar-border: 173 84% 19%;
    --sidebar-ring: 168 89% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
}
